# ==========================================
# Налаштування розробника та локальні файли
# ==========================================
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.DotSettings.user

# ==========================================
# Результати збірки (Build results)
# ==========================================
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# ==========================================
# Пакети та залежності (NuGet)
# ==========================================
*.nupkg
packages/
project.lock.json
project.assets.json

# ==========================================
# Конфігурації (щоб не злити паролі від БД)
# ==========================================
appsettings.Development.json
appsettings.Local.json
*.publishxml

# ==========================================
# Файли ОС
# ==========================================
.DS_Store
Thumbs.db